@font-face {
    font-family: 'Caladea';
    src: url('/res/fonts/Caladea-Regular.ttf') format('truetype'),
    url('/res/fonts/Caladea-Bold.ttf') format('truetype'),
    url('/res/fonts/Caladea-Italic.ttf') format('truetype'),
    url('/res/fonts/Caladea-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}  

*,
*::before,
*::after {
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    list-style: none;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    outline: none;
    border: none;
}

#app {
    display: grid;
    padding-top: 83.2px;
    gap: 15px;
    grid-template-areas: "reserver reservations profil";
    grid-template-columns: min(100%, 365px) 450px min(100%, 365px);
    width: 100%;
    justify-content: center;
}

h2 {
    font-size: 1.5rem;
    font-family: 'Caladea';
    font-weight: 600;
    text-indent: 15px;
}

header, header nav ul {
    display: flex;
    align-items: center;
}

header {
    position: fixed;
    background-color: #fff;
    justify-content: space-between;
    gap: 30px;
    padding: 10px 30px;
    border: 2px solid #ddd;
    z-index: 999;
    width: 100%;
}
header img {
    height: 60px;
}
header nav ul {
    gap: 15px;
}


form {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}
input, select {
    width: 100%;
    padding: 12px;
    border-radius: 15px;
    box-shadow: inset 0 0 0 2px #ddd;
}
input:focus, select:focus {
    box-shadow: inset 0 0 0 2px #000;
}
label {
    display: grid;
    gap: 5px;
    text-indent: 15px;
}

.btn2, .btn, input[type=submit] {
    cursor: pointer;
    text-align: center;
    padding: 12px 25px;
    border-radius: 100vh;
    box-shadow: inset 0 0 0 2px #000;
    background-color: transparent;
    font-weight: 600;
    transition: all 300ms ease-in-out;
}
.btn2, .btn:hover, input[type=submit]:hover {
    background-color: #000;
    color: #fff;
    transition: all 150ms ease-in-out;
}
input[type=reset] {
    background-color: transparent;
    padding: 0;
    box-shadow: none;
    cursor: pointer;
}


#reservations {
    grid-area: reservations;
    /* min-height: calc(100dvh - 83.2px); */
    padding: 15px;
    box-shadow: inset 1px 0 0 0 #ddd, inset -1px 0 0 0 #ddd, 1px 0 0 0 #ddd, -1px 0 0 0 #ddd;
}

.reservations__container {
    display: grid;
    gap: 15px;
    padding-top: 15px;
}

.reservation {
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 0 2px #ddd;
    border-radius: 15px;
    padding: 15px;
    gap: 15px;
    height: fit-content;
}
.reservation > div {
    display: flex;
    align-items: center;
}
.reservation hr {
    height: 2px;
    width: 100%;
    background-color: #ddd;
}
.top, .mid, .btm {
    justify-content: space-between;
    height: 30px;
    gap: 15px;
}
.btm > div, .mid > div {
    display: grid;
}
.mid {
    height: 50px;
    text-align: center;
}
.mid div:nth-child(2) {
    width: 100%;
}
.row {
    display: grid;
    place-items: center;
}
.row::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px; /* épaisseur des tirets */
    background-image: repeating-linear-gradient(to right, black, black 5px, transparent 2px, transparent 10px); /* définit l'image de fond avec des tirets et des espaces */
    left: 0;
}

#formReserver {
    grid-area: reserver;
}

#formProfil {
    grid-area: profil;
}



.error {
    color: #f00;
    text-align: center;
}

.gray {
    color: #777;
}

.bold {
    font-size: 1.125rem;
    font-weight: bold;
}

#enregistrerBtn.active {
    background-color: red;
    /* Ajoutez d'autres styles au besoin */
}


@media (max-width: 1210px) {
    #app {
        grid-template-areas: "reserver reservations" "profil reservations";
        grid-template-columns: min(100%, 365px) min(100%, 450px);
    }
}

@media (max-width: 830px) {
    #app {
        grid-template-areas: "reservations" "reserver" "profil";
        grid-template-columns: min(100%, 450px);
    }

    #reservations {
        box-shadow: none;
    }
}

@media (max-width: 830px) {
    header {
        justify-content: center;
    }

    header nav {
        display: none;
    }
}