@font-face {
    font-family: 'Outfit';
    src: url('./res/fonts/Outfit/Outfit-VariableFont_wght.ttf') format('truetype');
}  

:root {
    --main-color: #0054FF;
    --secound-main-color: #0046cc;
    --bg-color: #f1f5fc;
    --marge: 25px;
}

*,
*::before,
*::after {
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #000;
    list-style: none;
    outline: none;
    border: none;
}

body {
    background-color: var(--bg-color);
    font-family: 'Outfit';
}

header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px var(--marge);
    box-shadow: 0 5px 10px 0 #00000022;
    z-index: 998;
}
header img {
    height: 40px;
}
header nav ul {
    display: flex;
    align-items: center;
    gap: calc(var(--marge)/1.5);
}
header nav ul li:last-child a {
    display: flex;
    align-items: center;
    gap: calc(var(--marge)/2);
}
header nav ul li:last-child svg {
    width: 30px;
    height: 30px;
}

a {
    text-align: center;
    font-weight: 500;
    transition: 150ms linear;
}
a:hover, a:hover * {
    color: var(--main-color);
    fill: var(--main-color);
}

.btn {
    padding: 5px 10px;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 5px;
    border: none;
}
.btn:hover {
    background-color: var(--secound-main-color);
    color: #fff;
}

input, select, textarea {
    font-family: 'Outfit';
    font-size: 1rem;
    padding: 5px 0;
    border-bottom: 2px solid #00000022;
    width: 100%;
    transition: 150ms linear;
}
input.btn {
    font-weight: 500;
}

label {
    font-size: 0.85rem;
    color: var(--main-color);
}


#app {
    display: flex;
    flex-direction: column;
    gap: var(--marge);
    padding: var(--marge);
}


#formReserver, #reservations, #formProfil, #dashboard, .stats__container, .list__container, #formAjoutDate, #formSupprimer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--marge);
    width: min(800px, 100%);
    margin: 0 auto;
    padding: var(--marge);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 #00000022;
}

#app > * h1, #app > * h2, #app > * input[type=submit], #formReserver > div:last-child, #formProfil > *:last-child, #dashboard > *, .list__container > * {
    grid-column: span 2;
}


.reservation {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 0 2px #ddd;
    border-radius: 5px;
    padding: 15px;
    gap: 15px;
    height: fit-content;
    width: 100%;
}
.reservation > div {
    display: flex;
    align-items: center;
}
.reservation hr {
    height: 2px;
    width: 100%;
    background-color: #ddd;
}
.top, .mid, .btm {
    justify-content: space-between;
    height: 30px;
    gap: 15px;
}
.btm > div, .mid > div {
    display: grid;
}
.mid {
    height: 50px;
    text-align: center;
}
.mid div:nth-child(2) {
    width: 100%;
}
.row {
    display: grid;
    place-items: center;
}
.row::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px; /* épaisseur des tirets */
    background-image: repeating-linear-gradient(to right, black, black 5px, transparent 2px, transparent 10px); /* définit l'image de fond avec des tirets et des espaces */
    left: 0;
}


.deconnexion:hover {
    color: red; /* La couleur du texte au survol */
}


/* Dashboard styles */

#dashboard ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--marge);
}


/* Stats section */
.stats__container {
    background-color: transparent;
    padding: 0;
    box-shadow: none;
}

.stats__view {
    display: flex;
    align-items: center;
    gap: var(--marge);
    background: white;
    padding: calc(var(--marge)/2) var(--marge);
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 #00000022;
    min-width: 250px;
}
.stats__view:first-child {
    background-color: var(--main-color);
}
.stats__view:first-child * {
    color: #fff;
    fill: #fff;
}
.stats__view div:last-child {
    display: flex;
    flex-direction: column;

}
.stats__view .svg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stat {
    font-size: 2.5rem;
    font-weight: bold;
}



.list__container th, .list__container td {
    padding: 5px;
}
tr:nth-child(even) {
    background-color: var(--bg-color); /* Couleur de fond pour les lignes impaires */
}
.list__container h2, .list__container input[type=submit] {
    grid-column: span 1 !important;
}
.list__container input[type=submit] {
    width: fit-content;
    margin-left: auto;
}



@media (max-width: 600px) {
    #app > form > *, .stats__container > * {
        grid-column: span 2;
    }

    header nav ul li:last-child a span {
        display: none;
    }
}